TEST_ENV=dev

BASE_URL=https://practicesoftwaretesting.com
API_BASE_URL=https://api.practicesoftwaretesting.com

TEST_USER_EMAIL=customer@practicesoftwaretesting.com
TEST_USER_PASSWORD=welcome01
TEST_ADMIN_EMAIL=admin@practicesoftwaretesting.com
TEST_ADMIN_PASSWORD=welcome01
